In [4]:
a= "apple"
b= ["mango",2,"key"]
c=0.34
d=("akka",2)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [11]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
print(type(var1),type(var2),type(var3),type(var4))

<class 'str'> <class 'str'> <class 'list'> <class 'float'>

In [13]:
a= int(input("enter number 1:"))
b= int(input("enter number 2"))
print(a/b)
print(a % b)
print( a//b)
print (a**b)

enter number 1:5
enter number 28
0.625
5
0
390625

In [23]:
list1=[1,"mango",9.3,"apple",True,6,80.67,False,10]
for i in list1:
    print(i)
    print(type(i))

1
<class 'int'>
mango
<class 'str'>
9.3
<class 'float'>
apple
<class 'str'>
True
<class 'bool'>
6
<class 'int'>
80.67
<class 'float'>
False
<class 'bool'>
10
<class 'int'>

In [37]:
a= int(input("enter number 1-"))
b= int(input("enter number 2-"))
count=0
while a%b==0:
    a=a//b
    count+=1
    print(f"a is divisible by b for {count} times")

enter number 1-48
enter number 2-2
a is divisible by b for 1 times
a is divisible by b for 2 times
a is divisible by b for 3 times
a is divisible by b for 4 times

In [33]:
list3=[45,25,18,67,34,12,90,57,86,64,24,48]
for i in list3:
    if i%3==0:
        print("divisible",i)
    else:
        print("not divisible",i)

divisible 45
not divisible 25
divisible 18
not divisible 67
not divisible 34
divisible 12
divisible 90
divisible 57
not divisible 86
not divisible 64
divisible 24
divisible 48

In [30]:
list2=["king",2.4,89,"tiger"]
print(list2)
list2[0]="queen"
print(list2)
#hence mutable because the values can be changed inside a list

['king', 2.4, 89, 'tiger']
['queen', 2.4, 89, 'tiger']

In [31]:
tup=("king",2.4,89,"tiger")
print(tup)
tup[0]="queen"
print(tup)
#hence its immutable we cant change values inside a tuple

('king', 2.4, 89, 'tiger')

TypeError: 'tuple' object does not support item assignment